html {
    background: #f7f7f7;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
th {
    text-align: inherit
}
fieldset, img {
    border: 0
}
iframe {
    display: block
}
abbr, acronym {
    border: 0;
    font-variant: normal
}
del {
    text-decoration: line-through
}
address, caption, cite, code, dfn, em, th, var, i, b {
    font-style: normal;
    font-weight: 500
}
ul {
    list-style: none
}
h1, h2, h3, h4, h5, h6, b {
    font-size: 100%;
    font-weight: 500
}
q:before, q:after {
    content: ''
}
a {
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
a:visited, a:hover {
    /*color: #666;*/
    text-decoration: none
}
html, body {
    min-height: 100%
}
html, body, button, input, select, textarea {
    font: 14px/1.5 arial, Microsoft YaHei, \5b8b\4f53;
    color: #333;
}
input, select, textarea {
    font-size: 100%
}
ins, a {
    text-decoration: none
}
img{
    width: 100%;
}
.clear{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\20 ";
    clear: both;
    height: 0
}
input{
    border: none;
    outline: none;
}
/*------------------------------------------------------*/


/*-----------------------适配------------------------*/
@media screen and (min-width:240px) {
    html, body, button, input, select, textarea {
        font-size: 9px
    }
}
@media screen and (min-width:320px) {
    html, body, button, input, select, textarea {
        font-size: 12px
    }
}
@media screen and (min-width:380px) {
    html, body, button, input, select, textarea {
        font-size: 14px
    }
}
@media screen and (min-width:420px) {
    html, body, button, input, select, textarea {
        font-size: 16px
    }
}
@media screen and (min-width:450px) {
    html, body, button, input, select, textarea {
        font-size: 18px
    }
}
@media screen and (min-width:480px) {
    html, body, button, input, select, textarea {
        font-size: 18px
    }
}
@media screen and (min-width:540px) {
    html, body, button, input, select, textarea {
        font-size: 20px
    }
}
@media screen and (min-width:600px) {
    html, body, button, input, select, textarea {
        font-size: 22px
    }
}
@media screen and (min-width:640px) {
    html, body, button, input, select, textarea {
        font-size: 24px
    }
}
@media screen and (min-width:720px) {
    html, body, button, input, select, textarea {
        font-size: 28px
    }
}
@media screen and (min-width:800px) {
    html, body, button, input, select, textarea {
        font-size: 30px
    }
}
@media screen and (min-width:880px) {
    html, body, button, input, select, textarea {
        font-size: 34px
    }
}
@media screen and (min-width:960px) {
    html, body, button, input, select, textarea {
        font-size: 36px
    }
}
/*-----------------------------------------------------*/
header{
    width: 100%;
    height:2.85rem;
    color:#666666;
    line-height: 2.85rem;
    border-bottom:1px solid #ebebeb;
    background: #fff;
}
header img{
    width: 8.2rem;
    height:2.15rem;
    margin-left: 1rem;
    margin-top: 0.35rem;
    float: left;
}
/*--------------------------------------*/
.banner{
    width:100%;
    height:7.5rem;
    background: #b2b2b2;
}
.mkap{
    padding: 1rem;
}
.mkapz{
    width: 100%;
}


.kap:first-child,.kap:nth-child(3){
    float: left;
}
.kap:nth-child(2),.kap:nth-child(4){
    float: right;
}


.kapt{
    font-size: 1rem;
    text-align: center;
    color:#666666;
}
.kimg{
    width: 4rem;
    height:4rem;
    margin: 0 auto;
}